<div class="row-fluid" style="background-color: white;">



  <div class="card-body">
      
    <h4 _ngcontent-c16=""><a _ngcontent-c16=""><i _ngcontent-c16="" class="fa fa-arrow-circle-left back-button"></i></a> </h4>
    <h4 _ngcontent-c16="">List of Banners </h4>
    <div _ngcontent-c16="" class="table-responsive">
      <table _ngcontent-c16="" class="table table-striped table-bordered full-data-table">
        <thead _ngcontent-c16="">
          <tr _ngcontent-c16="">
             
            <th _ngcontent-c16="">
             
          <a class="text-nowrap" style="cursor: pointer">
              S.No
              <!---->
              <!---->
          </a>
            </th>
            <th _ngcontent-c16="">
                
          <a class="text-nowrap" style="cursor: pointer">
              Banner Title
              <!---->
              <!---->
          </a>
              </th>
              <th _ngcontent-c16="">
                
          <a class="text-nowrap" style="cursor: pointer">
              Link
              <!---->
              <!---->
          </a>
              </th>
            <th _ngcontent-c16="">
                
          <a class="text-nowrap" style="cursor: pointer">
              Image
              <!---->
              <!---->
          </a>
              </th>
              <th _ngcontent-c16="">
                  
          <a class="text-nowrap" style="cursor: pointer">
              Expire Date
              <!---->
              <!---->
          </a>
              </th>
              <th _ngcontent-c16="">
                
          <a class="text-nowrap" style="cursor: pointer">
              Action
              <!---->
              <!---->
          </a>
              </th>
          </tr>
        </thead>
        <tbody _ngcontent-c16="">
          <!---->
        </tbody>
      </table>
  
      <button _ngcontent-c16="" class="btn btn-default waves-effect" id="openModalButton" style="display:none;" type="button">Static</button>
      <button _ngcontent-c16="" class="btn btn-default waves-effect" id="hideModalButton" style="display:none;" type="button">Static</button>
      
    </div>

</div>
    
    <div class="row" style="height: 600px;"></div>
      <div class="row" style="height: 600px;"></div>






<div class="card">
  <div class="card-body" cdkDropListGroup>
    <div class="taskboard page-height">
      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">Todos</h6>
          <div
            class="taskboard-cards"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="todos"
          >
            <div
              class="{{ todo.class }} taskboard-task cursor-pointer"
              cdkDrag
              *ngFor="let todo of todos"
            >
              <div class="taskboard-task-title">{{ todo.title }}</div>
              <small class="card-text text-muted">{{ todo.desc }}</small>
            </div>
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">In Process</h6>
          <div
            class="taskboard-cards"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="process"
          >
            <div
              class="{{ inprocess.class }} taskboard-task cursor-pointer"
              cdkDrag
              *ngFor="let inprocess of process"
            >
              <div class="taskboard-task-title">{{ inprocess.title }}</div>
              <small class="card-text text-muted">{{ inprocess.desc }}</small>
            </div>
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">Pending todos</h6>
          <div
            class="taskboard-cards"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="pendings"
          >
            <div
              class="{{ pendingtask.class }} taskboard-task cursor-pointer"
              cdkDrag
              *ngFor="let pendingtask of pendings"
            >
              <div class="taskboard-task-title">{{ pendingtask.title }}</div>
              <small class="card-text text-muted">{{ pendingtask.desc }}</small>
            </div>
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">Task Done</h6>
          <div
            class="taskboard-cards"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="done"
          >
            <div
              class="{{ taskdone.class }} taskboard-task cursor-pointer"
              cdkDrag
              *ngFor="let taskdone of done"
            >
              <div class="taskboard-task-title">{{ taskdone.title }}</div>
              <small class="card-text text-muted">{{ taskdone.desc }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
