





<!--Add user ---->

<style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#1976d2;
}
</style>
<div class="container-fluid " style="background-color: white;padding-top: 10px;">
    <form>
      <div class="form-row" style="padding-top: 0px; margin-top: 0px;">
        <div class="form-group col-md-6 m-0">
          <div _ngcontent-vve-c122="" class= "form-group m-0" >
            <label _ngcontent-vve-c122="">Name</label>
            <div _ngcontent-vve-c122="" class="input-group mb-3">
              <div _ngcontent-vve-c122="" class="input-group-prepend">
                <span _ngcontent-vve-c122="" id="basic-addon11" class="input-group-text">
                <i _ngcontent-vve-c122="" class="ti-user"></i></span>
              </div>
              <input _ngcontent-vve-c122="" type="text" placeholder="Shubham Kaushik" aria-label="Username" aria-describedby="basic-addon11" class="form-control" readonly>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 m-0">
          <label for="inputPassword4">Phone no.</label>
          <div _ngcontent-uts-c122="" class="input-group mb-3 m-0" >
            <div _ngcontent-uts-c122="" class="input-group-prepend"><span _ngcontent-uts-c122="" id="basic-addon33" class="input-group-text"><i _ngcontent-uts-c122="" class="ti-mobile"></i></span></div>
            <input _ngcontent-uts-c122="" type="text" placeholder="8559451236" aria-label="Password" aria-describedby="basic-addon33" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="form-row" style="padding-top: 0px; margin-top: 0px;">
        <div class="form-group col-md-6 m-0">
          <div _ngcontent-uts-c122="" class="form-group">
            <label _ngcontent-uts-c122="">Create password</label>
            <div _ngcontent-uts-c122="" class="input-group mb-3">
              <div _ngcontent-uts-c122="" class="input-group-prepend"><span _ngcontent-uts-c122="" id="basic-addon33" class="input-group-text"><i _ngcontent-uts-c122="" class="ti-lock"></i></span></div>
              <input _ngcontent-uts-c122="" type="text" placeholder="********" aria-label="Password" aria-describedby="basic-addon33" class="form-control" readonly>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 m-0">
          <div _ngcontent-uts-c122="" class="form-group">
            <label _ngcontent-uts-c122="">Confirm Password</label>
            <div _ngcontent-uts-c122="" class="input-group mb-3">
              <div _ngcontent-uts-c122="" class="input-group-prepend"><span _ngcontent-uts-c122="" id="basic-addon33" class="input-group-text"><i _ngcontent-uts-c122="" class="ti-lock"></i></span></div>
              <input _ngcontent-uts-c122="" type="text" placeholder="********" aria-label="Password" aria-describedby="basic-addon33" class="form-control" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row" style="padding-top: 0px; margin-top: 0px;">
        <div class="form-group col-md-6 m-0">
            <label>Email</label>
        <div _ngcontent-bft-c122="" class="input-group mb-3">
          <div _ngcontent-bft-c122="" class="input-group-prepend">
            
            <span _ngcontent-bft-c122="" id="basic-addon22" class="input-group-text"><i _ngcontent-bft-c122="" class="ti-email">
            </i></span>
          </div>
          <input _ngcontent-bft-c122="" type="text"
            placeholder="Shubham@gmail.com" aria-label="Email" aria-describedby="basic-addon22" class="form-control" readonly>
        </div>
        </div>
        <div class="form-group col-md-6 m-0">
            <label for="inputState">User Type</label>
            <input id="user_type" placeholder="Builder" class="form-control" readonly>
             
              
           
          </div>
      </div>
      <div class="form-row" style="padding-top: 0px; margin-top: 0px;">
       
        <div class="form-group col-md-6 m-0">
          <label for="inputState"> Profile Picture</label><br> 
        

        <a [routerLink]="['/image-view']"><img src="../../../assets/builder.svg" style="width: 30%;"></a>

       


        </div>
        <div class="form-group col-md-6 m-0">
          <label for="inputState"> Document</label><br>

          <a  [routerLink]="['/image2']"><img src="../../../assets/bmblogo.png" style="width: 30%;"></a>

        </div>
      </div>
   
    </form>
  </div>




















