
<!-- View user ---->

<style>
    .switch {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 15px;
    }
    /* Hide default HTML checkbox */
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    /* The slider */
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(85, 82, 82);
    -webkit-transition: .4s;
    transition: .4s;
    }
    .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
    }
    input:checked + .slider {
    background-color: #1976d2;
    }
    input:focus + .slider {
    box-shadow: 0 0 1px #1976d2;
    }
    input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(29px);
    }
    /* Rounded sliders */
    .slider.round {
    border-radius: 50px;
    height: 20px;
    }
    .slider.round:before {
    border-radius: 50%;
    color: black;
    }
    td, th {
    border-bottom: thin;
    border-width: thin;
    border-color: rgb(250, 248, 248);
    size: inherit;
    padding-right: 0px;
    padding-left: 0px;
    align-items: center;
    }
    .btn{
    padding: 1;
    }
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    align-items: center;
    }
    * {
    box-sizing: border-box;
    }
    /* Style the search field */
    form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(253, 252, 252);
    float: left;
    width: 80%;
    background: #f1f1f1;
    height: 32px;
    }
    /* Style the submit button */
    form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid rgb(253, 253, 253);
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    height: 32px;
    }
    form.example button:hover {
    background: #0b7dda;
    }
    /* Clear floats */
    form.example::after {
    content: "";
    clear: both;
    display: table;
    margin-right: 5px;
    }
  </style>
 
  
  <div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
       <div class="card-body">
          <div class="row d-flex flex-row-reverse"  >
             <a class="btn btn-secondary btn-i btn-sm " [routerLink]="['./basic/basic.component']"
                style="font-size: 15px;margin-left: 5px;margin-right: 5px;">
             <img src="../../../assets/excel.svg" style="width: 20px;"></a><a class="btn btn-warning btn-sm" [routerLink]="['/forms/formbasic']"
                style="font-size: 15px; margin-left: 5px;"><img src="../../../assets/add.svg" style="width: 20px;">  Add User</a>
             <form class="example" action="action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search" ></i></button>
             </form>
          </div>
          <div class="table-responsive">
             <table class="table" style="border-spacing: 0px; border-width: 0; padding: 0; border-width: 0;">
                <thead>
                   <tr>
                      <th>UID</th>
                      <th>picture</th>
                      <th>Name</th>
                      <th>Phone no.</th>
                      <th>Status</th>
                      <th></th>
                      <th> </th>
                      <th></th>
                   </tr>
                </thead>
                <tbody>
                   <tr *ngFor ="let staff of staffs">
                      <td> {{ staff.uid}}</td>
                      <td><span class="round round-success p-0"><img src="{{staff.profile_picture}}" alt="user" width="50" height="50"></span></td>
                      <td>
                         <h6> {{staff.name}}</h6>
                         <small class="text-muted">{{staff.designation}}</small>
                      </td>
                      <td>{{staff.phone}}</td>
                      <td>
                         <label class="switch btn">
                         <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked >
                         <span class="slider round"></span>
                         </label>
                      </td>
                      <td>
                         <button type="button" class="btn btn-primary  p-1 m-1 "  [routerLink]="['/forms/multiselect']"> <img src="../../../assets/visibility.svg" style="width: 20px;"> </button>
                         <button type="button" class="btn btn-success  p-1 m-1" routerLink="['/Addstaff']" ><img src="../../../assets/edit.svg" style="width: 20px;"></button>
                         <button type="button" class="btn btn-danger p-1 m-1 "><img src="../../../assets/delete.svg" style="width: 20px;"></button>
                      </td>
                   </tr>
                  
                   
               
                
                   
                </tbody>
             </table>
          </div>
       </div>
    </div>
  </div>
  
  
  