<div class="row" style="background-color: white;">



    <div class="card-body">
      
        <h4 _ngcontent-c15=""><a _ngcontent-c15=""><i _ngcontent-c15="" class="fa fa-arrow-circle-left back-button"></i></a> </h4>
        <h4 _ngcontent-c15="">Add  Banner</h4>
        <div _ngcontent-c15="">
            <div _ngcontent-c15="" class="  m-t-20 width-50">
                <label _ngcontent-c15="">Banner Title<span _ngcontent-c15="" class="required">*</span></label>
                <span _ngcontent-c15=""><input _ngcontent-c15="" class="form-control ng-untouched ng-pristine ng-valid" type="text"></span>
            </div>
    
            <div _ngcontent-c15="" class="m-t-20">
                <label _ngcontent-c15="">Image<span _ngcontent-c15="" class="required">* </span> <span _ngcontent-c15="" class="size-span"> (360 X 196 pixels)</span></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                <!---->


                <script>
                    // Add the following code if you want the name of the file appear on select
                    $(".custom-file-input").on("change", function() {
                      var fileName = $(this).val().split("\\").pop();
                      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    });
                    </script>
                <!---->
            </div>
            <div _ngcontent-c15="" class="m-t-20 width-50">
                <label _ngcontent-c15="">Banner Type<span _ngcontent-c15="" class="required">*</span></label>
                <select _ngcontent-c15="" class="form-control ng-untouched ng-pristine ng-invalid" id="search" name="type" required="">
                    <!----><option _ngcontent-c15="" value="Teacher">Builder</option><option _ngcontent-c15="" value="Brocker">Brocker</option><option _ngcontent-c15="" value="Both">All</option>
                </select>
                
            </div>
            <div _ngcontent-c15="" class="m-t-20 width-50">
                <label _ngcontent-c15="" for="start-date">Banner expiry Date<span _ngcontent-c15="" class="required">*</span></label>
                <input _ngcontent-c15="" class="form-control ng-untouched ng-pristine ng-valid" id="start-date" max="2090-12-31" placeholder="Select Start Date" type="date" min="2021-02-19">
            </div>
    
            <div _ngcontent-c15="" class="form-group row">
                <!----><div _ngcontent-c15="">
                    <button _ngcontent-c15="" class="btn btn-success btn-round " style="margin:15px;">Add</button>
                    <button _ngcontent-c15="" class="btn btn-danger btn-round " style="margin:15px;">Clear</button>
                </div>
    
                <!---->
    
                <!---->
            </div>
        </div>
    
        </div>    
    




</div>

<div class="row" style="height: 700px;"></div>

