<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);margin-top: 0px;padding-top: 0px;">
<h1 style="text-align: center;"> 
   <img _ngcontent-c2="" alt="logo.png" class="logo-login" src="../../../assets/logo.png" style="width: 100px;height: 100px;border-radius: 10px;margin-top: 30px;margin-bottom: 25px;">
</h1>  
 
  <div class="login-box card" style="padding-top: 0px; margin-top: 0px;">
    
    <div class="card-body" style="margin-top: 0px;padding-top: 0px;">
      <form class="form-horizontal form-material" id="loginform">
        <h3 class="box-title m-b-20" style="padding-top: 10px;">Sign In</h3>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Username"> </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" required="" placeholder="Password"> </div>
        </div>
      
        
          <a class="btn btn-info btn-i w-100" [routerLink]="['/dashboard/dashboard1']"
              (click)="onLoggedin()" style="font-size: 15px;">Log in</a>
        
        <a href="javascript:void(0)" class="" placement="top" ngbTooltip="Login with OTP" style="font-size: 15px;">
        Login with OTP
         </a>
      </form>
      <form class="form-horizontal" id="recoverform" action="index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recover Password</h3>
            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Email"> </div>
        </div>
        
      </form>
    </div>
    <div>
    
  </div>
  
</div>

<h1 style="text-align: center;color:#DF434F; font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;font-size: 30px;padding-top: 5px;">Our Support</h1>
<p style="text-align: center; font-size: 15px;color: rgb(255, 253, 253);font-weight: bold;">Questions? Give us a call</p>
<p style="text-align: center; font-size: 13px;color: lightgoldenrodyellow;padding-top: -5px;">0771-4919183 /Service manager-+91 96692-31006
<br>
  Email Support<br><a href="BookMyBuilder@gmail.com" style="color: red;">BookMyBuilder@gmail.com</a></p>
  
