


<div class="container" style="background-color: white;">
  <div class="submit-form">
    <div *ngIf="!submitted">
     

 
    
       
  <form>
         <div class="row" style="padding-top: 2%;">
         <div class="col-6">
          <div class="form-group">
           <label for="name">Project By</label>
           <div  class="input-group mb-3">
              <div  class="input-group-prepend">
                 <span id="basic-addon22" class="input-group-text"><i  class="ti-user">
                 </i></span>
              </div>
              <input
              type="text"
              class="form-control"
              id="name"
              required
             
              name="name"
              />
           </div>
          </div>

         </div>
         <div class="col-6">
          <div class="form-group">
           <label for="phone">Project Name
        </label>
                <div  class="input-group mb-3">
                   <div  class="input-group-prepend">
                      <span id="basic-addon22" class="input-group-text"><i  class="ti-text">
                      </i></span>
                   </div>
                   <input
                   class="form-control"
                   id="phone"
                   required
                  
                   name="phone"
                   />
                </div>
          </div>
         </div>

        </div>
        <div class="row" >
          <div class="col-6">
           <div class="form-group">
            <label for="inputState">Property Type</label>
            <select id="inputState"   class="form-control">
               <option value="Admin" selected>FLAT</option>
               <option value="Staff">PLOT</option>
               <option  value="Builder">HOUSE</option>
               <option value="Agent">MIX</option>
               <option value="Business Associates">COMMERCIAL</option>
            </select>
           </div>
 
          </div>
          <div class="col-6">
           <div class="form-group">
            <label for="phone">Project Address 
            </label>
                 <div  class="input-group mb-3">
                    <div  class="input-group-prepend">
                       <span id="basic-addon22" class="input-group-text"><i  class="ti-home">
                       </i></span>
                    </div>
                    <input
                    class="form-control"
                    id="phone"
                    required
                    
                    name="phone"
                    />
                 </div>
           </div>
          </div>
 
         </div>
         <div class="row" >
          <div class="col-6">
           <div class="form-group">
            <label for="name">Property amenities</label>
            <div  class="input-group mb-3">
               <div  class="input-group-prepend">
                  <span id="basic-addon22" class="input-group-text"><i  class="ti-map">
                  </i></span>
               </div>
               <input
               type="text"
               class="form-control"
               id="name"
               required
            
               name="name"
               />
            </div>
           </div>
 
          </div>
          <div class="col-6">
           <div class="form-group">
            <label for="phone">Connectivity </label>
                 <div  class="input-group mb-3">
                    <div  class="input-group-prepend">
                       <span id="basic-addon22" class="input-group-text"><i  class="ti-map">
                       </i></span>
                    </div>
                    <input
                    class="form-control"
                    id="phone"
                    required
                
                    name="phone"
                    />
                 </div>
           </div>
          </div>
 
         </div>
         <div class="row" >
          <div class="col-6">
           <div class="form-group">
            <label for="name">Authorized person name : 
            </label>
            <div  class="input-group mb-3">
               <div  class="input-group-prepend">
                  <span id="basic-addon22" class="input-group-text"><i  class="ti-user">
                  </i></span>
               </div>
               <input
               type="text"
               class="form-control"
               id="name"
               required
          
               name="name"
               />
            </div>
           </div>
 
          </div>
          <div class="col-6">
           <div class="form-group">
            <label for="phone">Contact No.</label>
                 <div  class="input-group mb-3">
                    <div  class="input-group-prepend">
                       <span id="basic-addon22" class="input-group-text"><i  class="ti-mobile">
                       </i></span>
                    </div>
                    <input
                    class="form-control"
                    id="phone"
                    required
                    
                    name="phone"
                    />
                 </div>
           </div>
          </div>
 
         </div>

         
         <div class="row">
           <div class="col-6">
            <div class="form-group">
              <label for="email">Email Id </label>
              <div  class="input-group mb-3">
                 <div  class="input-group-prepend">
                    <span id="basic-addon22" class="input-group-text"><i  class="ti-email">
                    </i></span>
                 </div>
                 <input
                 class="form-control"
                 id="email"
                 required
                
                 name="email"
                 />
              </div>
            </div>
 
           </div>
           <div class="col-6">
            <div class="form-group">
              <label for="email">Promoter name </label>
              <div  class="input-group mb-3">
                 <div  class="input-group-prepend">
                    <span id="basic-addon22" class="input-group-text"><i  class="ti-user">
                    </i></span>
                 </div>
                 <input
                 class="form-control"
                 id="Status"
                 required
                
                 name="email"
                 />
              </div>
 
 
           </div>
          </div>
        </div>
        <div class="row" >
           <div class="col-6">
            <div class="form-group">
              <label for="password">Project Start Date</label>
              <div  class="input-group mb-3">
                 <div  class="input-group-prepend">
                    <span id="basic-addon22" class="input-group-text"><i  class="ti-calendar">
                    </i></span>
                 </div>
                 <input
                 type="date"
                 class="form-control"
                 id="password"
                 required
                
                 name="password"
                 />
              </div>
            </div>
           </div>
           <div class="col-6">
            <div class="form-group">
              <label for="status">Project Completion Date 
            </label>
              <div  class="input-group mb-3">
                 <div  class="input-group-prepend">
                    <span id="basic-addon22" class="input-group-text"><i  class="ti-calendar">
                    </i></span>
                 </div>
                 <input
                    type="date"
                    class="form-control"
                    id="1212"
                    required
                    name="cpassword"
                    />
              </div>
            </div>
     
           </div>
         </div>
         <div class="row" >
           <div class="col-6">
            <div class="form-group">
                <label for="status">Upload Link
                </label>
                  <div  class="input-group mb-3">
                     <div  class="input-group-prepend">
                        <span id="basic-addon22" class="input-group-text"><i  class="ti-link">
                        </i></span>
                     </div>
                     <input
                        type="text"
                        class="form-control"
                        id="1212"
                        required
                        name="cpassword"
                        />
                  </div>
              
            </div>
           </div>
           <div class="col-6">
            <div class="form-group">
              <label for="status">RERA no. of project</label>
                      <div  class="input-group mb-3">
                         <div  class="input-group-prepend">
                            <span id="basic-addon22" class="input-group-text"><i  class="icon-speech">
                            </i></span>
                         </div>
                         <input
                         type="text"
                         class="form-control"
                         id="remarks"
                         required
                        
                         name="remarks"
                         />
                      </div>
            </div>
     
           </div>
         </div>
         <div class="row" >
           <div class="col-6">
            <div class="form-group">
              <label for="Image">Property configuration</label>
                      <div  class="input-group mb-3">
                         <div  class="input-group-prepend">
                            <span id="basic-addon22" class="input-group-text"><i  class="icon-picture">
                            </i></span>
                         </div>
                         <input
                         type="file"
                         class="form-control"
                         id="image"
                         required
                        
                         name="Image" style="font-size: 12px;"
                         />
                      </div>
            </div>
           </div>
           <div class="col-6">
            <div class="form-group">
              <label for="Image">Upload brochure 
            </label>
              <div  class="input-group mb-3">
                 <div  class="input-group-prepend">
                    <span id="basic-addon22" class="input-group-text"><i  class="icon-folder">
                    </i></span>
                 </div>
                 <input
                 type="file"
                 class="form-control"
                 id="document"
                 required
                 
                 name="Image" style="font-size: 12px;"
                 />
              </div>
            </div>
     
           </div>
         </div>
  </form>

  <div class="d-flex flex-row-reverse" style="align-items: right;">
   <button  class="btn btn-info" style="margin-bottom: 2%;" (click)="openVerticallyCentered(content2)" >Next</button>
   <button class="btn btn-lg btn-outline-primary" (click)="open2(content2)">Launch demo modal</button>
</div>
    </div>

    <div *ngIf="submitted">
      <h3>You successfully created a User!</h3>
      <button class="btn btn-success" (click)="newProduct()">New..</button>
    </div>
  </div>





  <ng-template #content2 let-modal>
   <div class="modal-header">
       <h4 class="modal-title">Plot <span class="label label-primary">Booked</span><span class="label label-warning">Sold</span>
           <span class="label label-danger">Hold</span> <span class="label label-info">Avalible</span></h4>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="border: none;">
           <span aria-hidden="true">&times;</span>
       </button>
   </div>
   <div class="modal-body"><p>Plot Details &hellip;</p>
       <label>Size (  in sq. ft. ) </label>
   <input  type="text" class="form-control"/><br>
   <label>Dimension( LxB)
   </label><br>
   <input  type="text" class="form-control"/>
   <label>Facing </label><br>
   <select id="inputState"  class="form-control" style="width: 130px;">
       <option value="1" selected>East</option>
       <option value="2">West</option>
       <option  value="3">North</option>
       <option value="4">South</option>
       
    </select><br>
   <div style="padding-left: 20px;padding-top:20px">
       <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="padding-left: 20px;">
       <label class="form-check-label" for="flexCheckDefault">
         Garden
       </label><br><br>
       <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="padding-left: 20px;">
       <label class="form-check-label" for="flexCheckDefault">
        Corner
       </label>
   </div>
   </div>
   
   <div class="modal-footer"><button type="button" class="btn  btn-secondary" (click)="modal.dismiss('Cross click')">Submit</button></div>
</ng-template>







